@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgBody: #fff;
    --secondColor: #222;
    --mainColor: #07D977;
    --hover: #0E2626;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    background-color: var(--bgBody);
}

/* HEADER & NAV */
header {
    border-bottom: 1px solid #000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

nav .logo {
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

nav button {
    all: unset;
    cursor: pointer;
    background-color: var(--mainColor);
    padding: 10px 35px;
    border-radius: 50px;
}

/* CONTACT FORM */
.contact-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    background-color: #fff;
}

.contact-left-title {
    color: var(--secondColor);
    font-size: 2rem;
    margin-bottom: 5px;
    text-align: center;
}

.contact-left-title h2 {
    font-weight: bold;
} 

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: var(--secondColor);
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 20px;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #444;
}

.textarea-input {
    resize: none;
    height: 150px;
    padding: 1rem;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid var(--mainColor);
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 1rem;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: var(--mainColor);
    cursor: pointer;
    transition: all .4s;
}

.contact-left button:hover {
    background-color: var(--hover);
    color: var(--mainColor);
}

.contact-left button i {
    transition: all .4s;
}

.contact-left button:hover i {
    transform: translateX(10px);
}

.contact-right img {
    width: 500px;
}


@media screen and (max-width: 900px) {
    .contact-container {
        height: 80vh;
    }

    .contact-inputs {
        width: 80vw;
    }



    .contact-right {
        display: none;
    }
}
